h1 { 
  text-align: center;
}

.box{
   border: 1px solid black;
   width: 70%;
   height: 270px;
   position: absolute;
   margin-left: 200px;
   
}
div {
  justify-content: right;
}
.picker {
  margin: 350px;
  position: relative;
  
}
html {
  background-color: blueviolet;
}
